.questions{
    background-color: #928392;
    border: 5px solid rgb(76, 175, 80) ;
    border-radius: 20px;
    width: 50%;
    height: 700px;
    margin-top: 10px;
    margin-right: 25%;
    padding: 20px;
    text-align: center;
}




