.new_design_link{
    border-radius: 5px;
    background-color: white;
    height: 30px;
    width: 150px;
    margin-right: -80px;
    margin-top: 30px;

}

.new_Name{
    font-size:large;
}

.new_design_checkbox{
    width:15px;
    height: 15px;
    margin-right: 40px;
    border-radius: 5px;
    margin-top: 20px;
}

.right_to_right{
    margin-right: 40px;
}
.right_to{
    margin-right: 5px;
    margin-top: -10px;
}

.button-text-new{
    border-radius: 5px;
    font-weight: normal;
    margin-top: 320px;
    margin-right: 50px;
    color: #fff;
    background-color: #4caf50;
    border-color: #4caf50;
    position: relative;


    /*left: 100px;*/
    /*top: 30px;*/

}

.new_radius{
    border-radius: 20px;
}

.link-users-btn{
    position:relative;
    left:100px;
    top:35px;
    width:200px;
}
.container__table1 thead th {
    position: sticky;
    top: 0px;
  }
.container__table1 td , .container__table1 th{
    background-color: #4caf50;
    border-collapse: collapse;
   
}
.container__table1 td ,.container__table1 tbody{
    background-color:#935fa3 ;
    color: #ffff;
   
  
}
.container__table1{
    position: absolute;
    overflow-y:auto;
margin-top: 6px;
}
#inputLinkFirstName,#inputLinkLastName{
    width: 150px;
}
.container__table {
    height: 290px;
    overflow-y: scroll;
}
.container__table1 {
    height: 290px;
    overflow-y: scroll;
}
.add-user-h{
text-align: center;
}

#inputLinkFirstName{
    position: relative;
    right: 135px;
}

@media only screen and (max-width: 770px){
#inputLinkLastName{
    position: relative;
   right: 150px;
}



.last-link-input-btn{
    position: relative;
    right: 150px;
}

.link-users-btn{
    position:relative;
    right: 30px;
}
}

.first-link-input-btn{
    position: relative;
    right: 50px;
}