.container {
    display: grid;
    grid-template-columns: 7fr 3fr;
}

/*.myId {*/
/*    margin-left: 10rem;*/
/*    border-radius: 5px;*/
/*    background: #c9d6ff; !* fallback for old browsers *!*/
/*    background: -webkit-linear-gradient(to right, #e2e2e2, #c9d6ff); !* Chrome 10-25, Safari 5.1-6 *!*/
/*    background: linear-gradient(*/
/*            to right,*/
/*            #e2e2e2,*/
/*            #c9d6ff*/
/*    ); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/

/*    padding: 2rem;*/
/*    display: grid;*/
/*    justify-content: center;*/
/*    align-content: center;*/
/*}*/

.myId {
    /*margin-left: 10rem;*/
    margin-left: 100px;
    border-radius: 5px;
    background: #c9d6ff;
    /*background: -webkit-linear-gradient(to right, #e2e2e2, #c9d6ff);*/
    /*background: -webkit-gradient( linear, left top, right top, from(#e2e2e2), to(#c9d6ff) );*/
    /*background: -webkit-linear-gradient( left, #e2e2e2, #c9d6ff );*/
    /*background: -o-linear-gradient( left, #e2e2e2, #c9d6ff );*/
    /*background: linear-gradient( to right, #e2e2e2, #c9d6ff );*/
    padding: 2rem;
    display: grid;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
}

/*.MuiButton-label {*/
/*    width: 200px;*/
/*    margin-right: 500px;*/
    /*display: inherit;*/
    /*align-items: inherit;*/
    /*justify-content: inherit;*/
    /*marginBottom: "2rem" ;*/
/*}*/





/*.myID{*/
/*    margin-left: 200px;*/
/*    background-color: #c9d6ff;*/

/*}*/

/*.new_Design_Video{*/
/*    width:100px;*/
/*    margin-right: 500px;*/
/*}*/
/*.new_Design_block{*/
/*    margin-right: 100px;*/
/*}*/

.call-button {
    text-align: center;
    margin-top: 2rem;
}

.video-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-content: center;
    margin-top: 10rem;
    margin-left: 10rem;
}

.caller {
    text-align: center;
    color: #fff;
}

body {
    background: #4776e6; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8e54e9, #4776e6); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
            to right,
            #8e54e9,
            #4776e6
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
